#must be compatible versions with home assistant
aiohttp>=3.9.5,<4.0.0
aiohttp-fast-zlib>=0.1.1,<4.0.0
attrs~=23.2,~=24.2
isal~=1.7.1
propcache~=0.2
requests~=2.32.3
tzlocal>=5.2
urllib3~=1.26.5,<2.0.0
yarl~=1.18.3
#DEV
setuptools~=75.7

#for tests
pytest
pytest-asyncio
pytest-aiohttp
pytest-cov
pytest-mock
asyncmock>=0.4.2
freezegun~=1.5.1
responses
urllib3_mock
load_dotenv>=0.1.0
