#must be compatible versions with home assistant core
aiohttp~=3.12.15,<4.0.0
aiohttp-fast-zlib~=0.3
isal~=1.7
requests~=2.32
urllib3>=2.5.0

#for tests
asyncmock>=0.4.2
aioresponses
freezegun~=1.5.2
load_dotenv>=0.1.0
pytest==8.4.1
pytest-asyncio
pytest-aiohttp
pytest-cov
pytest-mock
responses
tzlocal
urllib3_mock
