BATTERIE_1_HOST = '192.168.188.11'
API_READ_TOKEN_1 = 'abcdefgh-xxxx-yyyy-zzzz-0a1b2c3d4e5f'
BATTERIE_2_HOST = '192.168.188.12'
API_READ_TOKEN_2 = 'abcdefgh-zzzz-yyyy-xxxx-0a1b2c3d4e5f'
# Percent set on settings page
BACKUP_BUFFER_USOC = 0
# Operating Mode
#        "1": Manual
#        "2": Automatic - Self Consumption
#        "6": Battery-Module-Extension (30%)
#        "10": Time-Of-Use
OPERATING_MODE = 2